<h2>Administração</h2>

<div class="list-group">
    <a class="list-group-item" asp-controller="ValidacaoIdentidades" asp-action="Index">
        Validações de Identidade
    </a>
    <a class="list-group-item" asp-controller="TipoOfertas" asp-action="Index">
        Tipos de Oferta
    </a>
    <a class="list-group-item" asp-controller="EstadoOfertas" asp-action="Index">
        Estados de Oferta
    </a>
</div>