<h2>Área do Aluno</h2>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Ofertas" asp-action="Index">Ver Ofertas</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Candidaturas" asp-action="Index">As Minhas Candidaturas</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="ValidacaoIdentidades" asp-action="Create">Submeter Documentos</a>
    </li>
</ul>
