<h2>Área da Empresa</h2>

<a class="btn btn-success" asp-controller="Ofertas" asp-action="Create">
    Criar Oferta
</a>

<a class="btn btn-secondary" asp-controller="Ofertas" asp-action="Index">
    Minhas Ofertas
</a>